<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Prompt:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
        integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - GameStore</title>
    <link rel="stylesheet" href="~/css/site.css" />
    @RenderSection("css", false)
</head>

<body>

    <div class="nav shadowBox">

        <span class="nav-brand"><i class="fas fa-gamepad"></i></span>
        <div id="navbarLeft" class="nav-module">
            <a class="nav-module-element" asp-area="" asp-controller="Home" asp-action="Index">
                <p>หน้าแรก</p>
            </a>
            <a class="nav-module-element" asp-area="" asp-controller="Store" asp-action="Index">
                <p>ทั้งหมด</p>
            </a>


        </div>


        <div id="navbarLeftManagement" style="display:None;" class="nav-module">
            <a class="nav-module-element" asp-area="" asp-controller="Management" asp-action="List">
                <p>ข้อมูลสินค้า</p>
            </a>
            <a class="nav-module-element" asp-area="" asp-controller="Management" asp-action="Order">
                <p>ข้อมูลคำสั่งซื้อ</p>
            </a>


        </div>



        <div id="navbarRight" class="nav-right">

            <span>
                <input id="searchValue" class="input-search" placeholder="ค้นหา">
                <i onclick="Search()" class="fas fa-search input-search-img"></i>
            </span>
            <script>
                function Search() {
                    var value = document.getElementById("searchValue").value;
                    //if value is not empty
                    if (value != "") {
                        location.href = '@Url.Action("Search", "Store")?name=' + value;
                    }

                }
            </script>
            <script>

                try {
                    var SearchText = document.getElementByID('searchValue').value;
                }catch(err){
                    console.log("Management Page Detect. Search Bar hide !!");
                }


            </script>
            <a asp-area="" asp-controller="Cart" asp-action="Index"><i class="cart fas fa-shopping-cart"></i></a>
        </div>

    </div>


    <script>
        //geturl
        var url = window.location.href;
        var urlSplit = url.split('/');
        var urlLast = urlSplit[3];
        var managementPage = urlSplit[4];
        console.log(urlSplit);
        // if Management dont show navbar
        if (urlLast == "Management") {
            document.getElementById("navbarLeft").style.display = "none";
            document.getElementById("navbarRight").style.display = "none";
        }
        if ( managementPage.length >= 3 ) {
            document.getElementById("navbarLeftManagement").style.display = "block";
        }
    </script>

    <div class="view-container">

        <main role="main">
            @RenderBody()
        </main>

    </div>





    <div class="footer">
        <p>GameStore Copyright 2021</p>
    </div>

    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>
