@{
  ViewData["Title"] = ViewData["Name"];
}

@section css {
  <link rel="Stylesheet" href="@Href("~/css/Fon.css")">
}

<div id="game">
  <h2 class="game-name">GAME: MINECRAFT @ViewData["Name"]</h2>
  <div id="order">
  <div class="container">
    <div class="game-teaser">
      <iframe class="video-border" width="1000" height="500" src="https://www.youtube.com/embed/0maWbr0FHKY" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
    <div class="cover-box">
    <div class="cover">
      <img src="https://upload.wikimedia.org/wikinews/en/7/7a/Minecraft_game_cover.jpeg" alt="minecraft" >
    </div><br>
    <div class="game-price">
      <p class="left-content">ราคา</p>
      <p class="right-content">155 บาท</p>
    </div><br>
    <div class="game-dev">
      <p class="left-content">ผู้พัฒนา</p>
      <p class="right-content">Mojang</p>
    </div><br>
    <div class="game-remain">
      <p class="left-content">คงเหลือ</p>
      <p class="right-content">12</p>
    </div><br>
    <button class="cart-btn" id="addto-cart">เพิ่มใส่รถเข็น</button>
  </div>
  </div>
  <div class="game-img">
    <img class=frist-img src="https://s2.gaming-cdn.com/images/products/442/screenshot/minecraft-java-edition-pc-game-wallpaper-2.jpg" alt="minecraft" >
    <img class="second-img" src="https://s2.gaming-cdn.com/images/products/442/screenshot/minecraft-java-edition-pc-game-wallpaper-5.jpg" alt="minecraft" >
    <img class="third-img" src="https://s2.gaming-cdn.com/images/products/442/screenshot/minecraft-java-edition-pc-game-wallpaper-3.jpg" alt="minecraft" >
  </div><br>
  <div class="game-description">
    <p>เกม Minecraft เป็นเกมรูปทรงกล่องสี่เหลี่ยม วิดีโอเกมแนว Sandbox สามมิติ ที่เปิดให้เล่นได้บนคอมพิวเตอร์ ในระบบ Microsoft Windows และ MacOS โดยตัวเกมเปิดโอกาสให้ผู้เล่นนั้นสามารถใช้ความคิดสร้างสรรค์ในการสร้างสิ่งต่าง ๆ ได้อย่างเต็มที่ เป็นเกมที่ถูกทำขึ้นสำหรับเด็กอายุตั้งแต่ 8 ปีขึ้นไป ภายในเกมผู้เล่นสามารถมีทั้งการสำรวจทรัพยากร สร้างบ้าน คราฟของ ต่อสู้ มีหลากหลายโหมดให้เลือกเล่น ทั้งเอาตัวรอด, โหมดผจญภัย, โหมดสร้างสรรค์, โหมดผู้ชม และ โหมดฮาร์ดคอร์</p>
  </div>

</div>
</div>