@{
  ViewData["Title"] = "Store";
}

@section css {
  <link rel="Stylesheet" href="@Href("~/css/Euro.css")">
}

<div id="store">


    <h2>หมวดหมู่</h2>

    <div id="cart-wrapper">

        <div id="card-cat" class="shadowBox">
            <img class="shadowBox" src="https://s2.gaming-cdn.com/images/products/442/orig/minecraft-java-edition-pc-game-microsoft-store-cover.jpg">
            <div id="cat-label"><h3>ผจญภัย</h3></div>
        </div>

        <div id="card-cat" class="shadowBox">
            <img class="shadowBox" src="https://s2.gaming-cdn.com/images/products/442/orig/minecraft-java-edition-pc-game-microsoft-store-cover.jpg">
            <div id="cat-label"><h3>แคชชวล</h3></div>
        </div>

        <div id="card-cat" class="shadowBox">
            <img class="shadowBox" src="https://s2.gaming-cdn.com/images/products/442/orig/minecraft-java-edition-pc-game-microsoft-store-cover.jpg">
            <div id="cat-label"><h3>สยองขวัญ</h3></div>
        </div>

        <div id="card-cat" class="shadowBox">
            <img class="shadowBox" src="https://s2.gaming-cdn.com/images/products/442/orig/minecraft-java-edition-pc-game-microsoft-store-cover.jpg">
            <div id="cat-label"><h3>อินดี้</h3></div>
        </div>

        <div id="card-cat" class="shadowBox">
            <img class="shadowBox" src="https://s2.gaming-cdn.com/images/products/442/orig/minecraft-java-edition-pc-game-microsoft-store-cover.jpg">
            <div id="cat-label"><h3>ปริศนา</h3></div>
        </div>



    </div>

    <hr />

    <div id="item-wrapper">

        <div id="item-cat" class="shadowBox">

            <img class="shadowBox" src="https://s2.gaming-cdn.com/images/products/442/orig/minecraft-java-edition-pc-game-microsoft-store-cover.jpg">

            <div id="item-sub-container">

                <div id="item-label"><h2>Minecraft</h2><h3>Mojang</h3></div>
                <div id="item-sub-label"><div><h3>200 บาท</h3></div><div><h1>150 บาท</h1></div></div>
            </div>
        </div>

        <div id="item-cat" class="shadowBox">

            <img class="shadowBox" src="https://s2.gaming-cdn.com/images/products/442/orig/minecraft-java-edition-pc-game-microsoft-store-cover.jpg">

            <div id="item-sub-container">

                <div id="item-label"><h2>Minecraft</h2><h3>Mojang</h3></div>
                <div id="item-sub-label"><div><h3>200 บาท</h3></div><div><h1>150 บาท</h1></div></div>
            </div>
        </div>

        <div id="item-cat" class="shadowBox">

            <img class="shadowBox" src="https://s2.gaming-cdn.com/images/products/442/orig/minecraft-java-edition-pc-game-microsoft-store-cover.jpg">

            <div id="item-sub-container">

                <div id="item-label"><h2>Minecraft</h2><h3>Mojang</h3></div>
                <div id="item-sub-label"><div><h3>200 บาท</h3></div><div><h1>150 บาท</h1></div></div>
            </div>
        </div>

        <div id="item-cat" class="shadowBox">

            <img class="shadowBox" src="https://s2.gaming-cdn.com/images/products/442/orig/minecraft-java-edition-pc-game-microsoft-store-cover.jpg">

            <div id="item-sub-container">

                <div id="item-label"><h2>Minecraft</h2><h3>Mojang</h3></div>
                <div id="item-sub-label"><div><h3>200 บาท</h3></div><div><h1>150 บาท</h1></div></div>
            </div>
        </div>

        <div id="item-cat" class="shadowBox">

            <img class="shadowBox" src="https://s2.gaming-cdn.com/images/products/442/orig/minecraft-java-edition-pc-game-microsoft-store-cover.jpg">

            <div id="item-sub-container">

                <div id="item-label"><h2>Minecraft</h2><h3>Mojang</h3></div>
                <div id="item-sub-label"><div><h3>200 บาท</h3></div><div><h1>150 บาท</h1></div></div>
            </div>
        </div>

        <div id="item-cat" class="shadowBox">

            <img class="shadowBox" src="https://s2.gaming-cdn.com/images/products/442/orig/minecraft-java-edition-pc-game-microsoft-store-cover.jpg">

            <div id="item-sub-container">

                <div id="item-label"><h2>Minecraft</h2><h3>Mojang</h3></div>
                <div id="item-sub-label"><div><h3>200 บาท</h3></div><div><h1>150 บาท</h1></div></div>
            </div>
        </div>
        <div id="item-cat" class="shadowBox">

            <img class="shadowBox" src="https://s2.gaming-cdn.com/images/products/442/orig/minecraft-java-edition-pc-game-microsoft-store-cover.jpg">

            <div id="item-sub-container">

                <div id="item-label"><h2>Minecraft</h2><h3>Mojang</h3></div>
                <div id="item-sub-label"><div><h3>200 บาท</h3></div><div><h1>150 บาท</h1></div></div>
            </div>
        </div>
        <div id="item-cat" class="shadowBox">

            <img class="shadowBox" src="https://s2.gaming-cdn.com/images/products/442/orig/minecraft-java-edition-pc-game-microsoft-store-cover.jpg">

            <div id="item-sub-container">

                <div id="item-label"><h2>Minecraft</h2><h3>Mojang</h3></div>
                <div id="item-sub-label"><div><h3>200 บาท</h3></div><div><h1>150 บาท</h1></div></div>
            </div>
        </div>
        <div id="item-cat" class="shadowBox">

            <img class="shadowBox" src="https://s2.gaming-cdn.com/images/products/442/orig/minecraft-java-edition-pc-game-microsoft-store-cover.jpg">

            <div id="item-sub-container">

                <div id="item-label"><h2>Minecraft</h2><h3>Mojang</h3></div>
                <div id="item-sub-label"><div><h3>200 บาท</h3></div><div><h1>150 บาท</h1></div></div>
            </div>
        </div>


    </div>


</div>
