@{
  ViewData["Title"] = "Add Stock";
}
@section css {
  <link rel="Stylesheet" href="@Href("~/css/James.css")">
}

<div id="add_title">
  <h2>เพิ่มสินค้า</h2>
</div> 

<div id="main">
  <div class="info_box">
    <table class="info_table">
      <tr>
        <td><label>รูปหลัก</label></td>
        <td><input type="text" id="main_pic"></td>
      </tr>
      <tr>
        <td><label>รูปที่ 1</label></td>
        <td><input type="text" id=""></td>
      <tr>
        <td><label>รูปที่ 2</label></td>
        <td><input type="text" id=""></td>
      </tr>
      <tr>
        <td><label>รูปที่ 3</label></td>
        <td><input type="text" id=""></td>
      </tr>
      <tr>
        <td><label>ชื่อเกม</label></td>
        <td><input type="text" id=""></td>
      </tr>
      <tr>
        <td><label>ผู้พัฒนา</label></td>
        <td><input type="text" id=""></td>
      </tr>
      <tr>
        <td><label>หมวดหมู่</label></td>
        <td><input type="text" id=""></td>
      </tr>
      <tr>
        <td><label>รายละเอียด</label></td>
        <td><input type="text" id=""></td>
      </tr>   
    </table>
  </div>

  <div class="price_box">
      <table class="price_table">
        <tr>
          <td><label>ราคา</label></td>
          <td><input type="text" id="price_add"></td>
        </tr>
        <tr>
          <td><label>จำนวน</label></td>
          <td><input type="text" id="amount_add"></td>
        </tr>
      </table>
  </div>
  
</div>
@* <div class="info_box">
  <div class="add_info">
    <div id="col1">
      <label>รูปหลัก</label>
      <input type="text" id="main_pic">

    </div>

    <div id="col2">
      <label>รูป 1</label>
      <input type="text" id="main_pic">
    </div>

    <div id="col3">
      <button onclick="numpad('1')">1</button>
      <button onclick="numpad('2')">2</button>
     
    </div>

    <div id="col4">
      <button onclick="numpad('0')" id="zero-btn">0</button>
      <button onclick="numpad('.')">.</button>
    </div>
  </div>
</div> *@