@{
  ViewData["Title"] = "Add Stock";
}
@section css {
  <link rel="Stylesheet" href="@Href("~/css/James.css")">
}

<div id="add_title">
  <h2>เพิ่มสินค้า</h2>
</div> 

@* <div id="main">
  <div class="info_box">
    <table class="info_table">
      <tr>
        <td><label>รูปหลัก</label></td>
        <td><input type="text" id="main_pic"></td>
      </tr>
      <tr>
        <td><label>รูปที่ 1</label></td>
        <td><input type="text" id=""></td>
      <tr>
        <td><label>รูปที่ 2</label></td>
        <td><input type="text" id=""></td>
      </tr>
      <tr>
        <td><label>รูปที่ 3</label></td>
        <td><input type="text" id=""></td>
      </tr>
      <tr>
        <td><label>ชื่อเกม</label></td>
        <td><input type="text" id=""></td>
      </tr>
      <tr>
        <td><label>ผู้พัฒนา</label></td>
        <td><input type="text" id=""></td>
      </tr>
      <tr>
        <td><label>หมวดหมู่</label></td>
        <td><input type="text" id=""></td>
      </tr>
      <tr>
        <td><label>รายละเอียด</label></td>
        <td><input type="text" id=""></td>
      </tr>   
    </table>
  </div>

  <div class="price_box">
      <table class="price_table">
        <tr>
          <td><label>ราคา</label></td>
          <td><input type="text" id="price_add"></td>
        </tr>
        <tr>
          <td><label>จำนวน</label></td>
          <td><input type="text" id="amount_add"></td>
        </tr>
      </table>
  </div>
</div>
<button class="add_item">เพิ่มสินค้า</button> *@

<div id="add">

  <div class="Information">

    <div class="info-box">
      <div class="info-from">

        <div class="info-label">
          <div><label>รูปหลัก</label></div>
          <div><label>รูป 2</label></div>
          <div><label>รูป 3</label></div>
          <div><label>ชื่อ</label></div>
          <div><label>ผู้พัฒนา</label></div>
          <div><label>หมวดหมู่</label></div>
          <div><label>รายละเอียด</label></div>
        </div>
        
        <div class="info-input">
          <div><input class="input-box" type="text" id="mainpic" placeholder="image.jpg"></div>
          <div><input class="input-box" type="text" id="add_pic_1" placeholder="image1.png"></div>
          <div><input class="input-box" type="text" id="add_pic_2" placeholder="image2.png"></div>
          <div><input class="input-box" type="text" id="add_pic_3" placeholder="image3.png"></div>
          <div><input class="input-box" type="text" id="add_game_name" placeholder="มานคาฟ"></div>
          <div><input class="input-box" type="text" id="add_game_dev" placeholder="Mojang"></div>
          <div><input class="input-box" type="text" id="add_game_cat" placeholder="Drama"></div>
          <div><input class="input-box" type="text" id="add_game_detail" placeholder="Drama"></div>
        </div>
      </div>
    </div>

    <div class="information">
      <div class="info-from">

        <div class="info-label">
          <div><label>ราคา</label></div>
          <div><label>จำนวน</label></div>
        </div>
        
        <div class="info-input">
          <div><input class="input-box" type="text" id="add_price" placeholder="355"></div>
          <div><input class="input-box" type="text" id="add_amount" placeholder="4"></div>
        </div>
      </div>    
    </div>

  </div>


  <div class="add_menu">
      <div></div>  
      <button class="add_btn" >เพิ่มสินค้า</button>
  </div>

</div>