@{
  ViewData["Title"] = "Add Stock";
}
@section css {
  <link rel="Stylesheet" href="@Href("~/css/James.css")">
}

 @*add_title*@
<div id="add_title">
  <h2>เพิ่มสินค้า</h2>
</div> 

<div class="size-box">
  <div class="float-box">
    <div class="left-box">
      <form>

        @*add_mainpic*@
        <div class="row">
          <div class="col-20">
            <label for="add_mainpic">รูปหลัก</label>
          </div>
          <div class="col-80">
            <input class="input-box" type="text" id="add_mainpic" placeholder="image.jpg">
          </div>
        </div>

        @*add_pic_1*@
        <div class="row">
          <div class="col-20">
            <label for="add_pic_1">รูป 1</label>
          </div>
          <div class="col-80">
            <input class="input-box" type="text" id="add_pic_1" placeholder="image1.png">
          </div>
        </div>

        @*add_pic_2*@
        <div class="row">
          <div class="col-20">
            <label for="add_pic_2">รูป 2</label>
          </div>
          <div class="col-80">
            <input class="input-box" type="text" id="add_pic_2" placeholder="image2.png">
          </div>
        </div>

        @*add_pic_3*@
        <div class="row">
          <div class="col-20">
            <label for="add_pic_3">รูป 3</label>
          </div>
          <div class="col-80">
            <input class="input-box" type="text" id="add_pic_3" placeholder="image3.png">
          </div>
        </div>

        @*add_game_name*@
        <div class="row">
          <div class="col-20">
            <label for="add_game_name">ชื่อ</label>
          </div>
          <div class="col-80">
            <input class="input-box" type="text" id="add_game_name" placeholder="มานคาฟ">
          </div>
        </div>

        @*add_game_dev*@
        <div class="row">
          <div class="col-20">
            <label for="add_game_dev">ผู้พัฒนา</label>
          </div>
          <div class="col-80">
            <input class="input-box" type="text" id="add_game_dev" placeholder="Mojang">
          </div>
        </div>

        @*add_game_cat*@
        <div class="row">
          <div class="col-20">
            <label for="add_game_cat">หมวดหมู</label>
          </div>
          <div class="col-80">
            <input class="input-box" type="text" id="add_game_cat" placeholder="Drama">
          </div>
        </div>

        @*add_game_detail*@
        <div class="row">
          <div class="col-20">
            <label for="add_game_detail">รายละเอียด</label>
          </div>
          <div class="col-80">
            <textarea class="input-box" type="text" id="add_game_detail" placeholder="สุดยอดเกม sci-fi, action, drama,RPG, FPS, Strategy แห่งทศวรรษโปรดเพิ่มกับฉันแบบสัตว์" style="height:150px"></textarea>
          </div>
        </div>

      </form>
    </div>

    <div class="fixed-box">
      <div class="right-box">
        <form>

          @*add_price*@
          <div class="row">
            <div class="col-25">
              <label for="add_price">ราคา</label>
            </div>
            <div class="col-75">
              <input class="input-box" type="text" id="add_price" placeholder="355">
            </div>
          </div>

          @*add_amount*@
          <div class="row">
            <div class="col-25">
              <label for="add_amount">จำนวน</label>
            </div>
            <div class="col-75">
              <input class="input-box" type="text" id="add_amount" placeholder="4">
            </div>
          </div>

        </form>
      </div>

      @*add_btn*@
      <div class="add_menu">
        <button class="add_btn" >เพิ่มสินค้า</button>
      </div>

    </div>
  </div>
</div>