@model GameStore.Models.Game

@{
  ViewData["Title"] = "Edit Stock";
}

@section css {
  <link rel="Stylesheet" href="@Href("~/css/James.css")">
}

 @*james_title*@
<div id="james_title">
  <h2>แก้ไขสินค้าที่: @ViewData["Id"]</h2>
</div>

<div class="size-box">
  <div class="float-box">
    <div class="left-box">
      <form asp-action="Edit">

        @*edit_mainpic*@
        <div class="row">
          <div class="col-20">
            <label for="edit_mainpic">รูปหลัก</label>
          </div>
          <div class="col-80">
            <input asp-for="Main_Image" class="input-box" />
          </div>
        </div>

        @*edit_pic_1*@
        <div class="row">
          <div class="col-20">
            <label for="edit_pic_1">รูปที่ 1</label>
          </div>
          <div class="col-80">
            <input asp-for="Image1" class="input-box" />
          </div>
        </div>

        @*edit_pic_2*@
        <div class="row">
          <div class="col-20">
            <label for="edit_pic_2">รูปที่ 2</label>
          </div>
          <div class="col-80">
            <input asp-for="Image2" class="input-box" />
          </div>
        </div>

        @*edit_pic_3*@
        <div class="row">
          <div class="col-20">
            <label for="edit_pic_3">รูปที่ 3</label>
          </div>
          <div class="col-80">
            <input asp-for="Image3" class="input-box" />
          </div>
        </div>

        @*edit_game_name*@
        <div class="row">
          <div class="col-20">
            <label for="edit_game_name">ชื่อ</label>
          </div>
          <div class="col-80">
            <input asp-for="Name" class="input-box" />
          </div>
        </div>

        @*edit_game_dev*@
        <div class="row">
          <div class="col-20">
            <label for="edit_game_dev">ผู้พัฒนา</label>
          </div>
          <div class="col-80">
            <input asp-for="Developer" class="input-box" />
          </div>
        </div>

        @*edit_game_cat*@
        <div class="row">
          <div class="col-20">
            <label for="edit_game_cat">หมวดหมู่</label>
          </div>
          <div class="col-80">
            <input asp-for="Type" class="input-box" />
          </div>
        </div>

        @*edit_game_detail*@
        <div class="row">
          <div class="col-20">
            <label for="edit_game_detail">รายละเอียด</label>
          </div>
          <div class="col-80">
            <textarea asp-for="Detail" class="input-box" style="height:150px"></textarea>
          </div>
        </div>
          <input type="submit" value="Save" class="btn btn-primary" />
      </form>
    </div>

    <div class="fixed-box">
      <div class="right-box">
        <form>

          @*edit_price*@
          <div class="row">
            <div class="col-25">
              <label for="edit_price">ราคา</label>
            </div>
            <div class="col-75">
              <input asp-for="Price" class="input-box" />
            </div>
          </div>

          @*edit_amount*@
          <div class="row">
            <div class="col-25">
              <label for="edit_amount">จำนวน</label>
            </div>
            <div class="col-75">
              <input asp-for="Amount" class="input-box" />
            </div>
          </div>

        </form>
      </div>

      @* <input type="submit" value="Save" class="btn btn-primary" /> *@
      @* <button class="james_btn" id="edit_item">แก้ใขสินค้า</button> *@

    </div>
  </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}