@{
  ViewData["Title"] = "Login";
}

@section css {
  <link rel="Stylesheet" href="@Href("~/css/Fon.css")">
}

<div id="login">
  <h2>ผู้ดูแลระบบ</h2>
  <div class="login-form">
    @*username*@
    <div class="row">
    <div class="col1-25">
      <label for="user">ผู้ใช้</label>
    </div>
    <div class="col1-75">
      <input class="input-box" type="text" id="login-name" placeholder="ทองดี">
    </div><br>
    </div>
    @*password*@
    <div class="row">
    <div class="col2-25">
      <label for="password">รหัสผ่าน</label>
    </div>
    <div class="col2-75">
      <input class="input-box" type="text" id="login-password" placeholder="ทองดี2021">
    </div>
    </div>
    <button class="login-btn" id="user-login">เข้าสู่ระบบ</button>
  </div>
  
</div>