@{
  ViewData["Title"] = "List";
}

@section css {
  <link rel="Stylesheet" href="@Href("~/css/Sek.css")">
}

<div id="list">
    <h1>List Stock</h1>
    <div class="container">
        <div class="cover">
            <img src="https://upload.wikimedia.org/wikinews/en/7/7a/Minecraft_game_cover.jpeg" alt="minecraft">
        </div>
        <div class="game-name">
            <p>MINECRAFT</p>
        </div>
        <div class="game-remain">
            
            <p class="remain-quantity">จำนวนคงเหลือ : 1</p>
            
        </div>
        <div class="edit-store">
            <button>แก้ไข</button>
        </div>
        <div class="del-store">
            <button>ลบ</button>
        </div>
    </div>

    <div class="container">
        <div class="cover">
            <img src="https://static.wikia.nocookie.net/battlefield/images/7/7d/Battlefield_2042_Gold_Edition_Cover.jpg" alt="minecraft">
        </div>
        <div class="game-name">
            <p>BATTLE FIELD 2042</p>
        </div>
        <div class="game-remain">

            <p class="remain-quantity">จำนวนคงเหลือ : 1</p>

        </div>
        <div class="edit-store">
            <button>แก้ไข</button>
        </div>
        <div class="del-store">
            <button>ลบ</button>
        </div>
    </div>

    
    <div class="add-store">
        <button>+</button>
    </div>
    

</div>
   
