@{
  ViewData["Title"] = "List";
}

@section css {
  <link rel="Stylesheet" href="@Href("~/css/Sek.css")">
}



<div id="list">
    <h1>List Stock</h1>

    <!-- เดี๋ยวค่อย foreach ออกมา ในก้อนนี้-->
    <div class="container">
        <!--ดึงรูปของ game มาแสดง -->
        <div class="cover">
            <img src="https://upload.wikimedia.org/wikinews/en/7/7a/Minecraft_game_cover.jpeg" alt="minecraft">
        </div>
        <div class="group-text">

            <!--//รับ name ของ game มาแสดง-->
            <div class="game-name">
                <p>MINECRAFT</p>
            </div>

            <!--//รับค่า remain มาแสดง-->
            <div class="game-remain">
                
                <p class="remain-quantity">จำนวนคงเหลือ : 1</p>
                
            </div>

            <!--//ส่ง id ของตัวที่จะ edit-->
            <div class="edit-store">
                <a href="/Management/Edit?id=1"><button>แก้ไข</button></a>
            </div>

            <!--//ส่ง id ตัวที่จะลบ-->
            <div class="del-store">
                <button>ลบ</button>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="cover">
            <img src="https://static.wikia.nocookie.net/battlefield/images/7/7d/Battlefield_2042_Gold_Edition_Cover.jpg" alt="minecraft">
        </div>
        <div class="group-text">
            <div class="game-name">
                <p>BATTLE FIELD 2042</p>
            </div>
            <div class="game-remain">

                <p class="remain-quantity">จำนวนคงเหลือ : 1</p>

            </div>
            <div class="edit-store">
                <a href="/Management/Edit?id=2"><button>แก้ไข</button></a>
            </div>
            <div class="del-store">
                <button>ลบ</button>
            </div>
        </div>
    </div>

    
    <div class="add-store">
        <a href ="/Management/Add"><button>+</button></a>
    </div>
    

</div>
   
