@{
  ViewData["Title"] = "Order";
}

@section css {
  <link rel="Stylesheet" href="@Href("~/css/Sek.css")">
}

<div id="order">
    <h2>ข้อมูลคำสั่งซื้อ</h2>

    <div class="container">
        <div class="game-name">
            <p>MINECRAFT</p>
        </div>
        <div class="customer-name">
            <p>สานตอก อะสะบะละ</p>
        </div>
        <div class="customer-email">

            <p>asabara@kmitl.ac.th</p>

        </div>
        <div class="quantity">
            <p>จำนวน : 1</p>
        </div>
        <div class="sum-price">
            <p>155 บาท</p>
        </div>
    </div>

</div>