@section css {
  <link rel="Stylesheet" href="@Href("~/css/Euro.css")">
}

<div id="home">

    @{
      ViewData["Title"] = "Home Page";
    }
 
    <center>
        <div>

            <img class="banner-img shadowBox" src="https://notebookspec.com/web/wp-content/uploads/2021/05/callduty2021_3457653b.jpg"></img>

        </div>
    </center>


    <div class="layout-finder">
        <div class="layout-finder-left"><h3>เกมลดราคา</h3></div>
        <div class="layout-finder-right">
            <a asp-area="" style=" text-decoration: none;color:white;" asp-controller="Store" asp-action="Index"><h3>เรียกดู</h3></a>
        </div>
    </div>





    <div class="card-view">
        <div class="wrapper-card">
        <div class="card">
            <img src="https://s2.gaming-cdn.com/images/products/442/orig/minecraft-java-edition-pc-game-microsoft-store-cover.jpg">
            <div class="card-context">
                <h2 class="card-game-name">Minecraft</h2>
                <h3 class="card-game-provider">Mojang</h3>
                <div class="card-price-conetxt">
                    <h3 class="price-discount">200 บาท</h3>
                    <h2 class="price-static">155 บาท</h2>
                </div>
            </div>
            <div class="plat-card shadowBox">
            </div>
        </div>

        <div class="card">
            <img src="https://cdn1.epicgames.com/salesEvent/salesEvent/wwzAfterTall_1200x1600-b7b0af3e21961a57059ec4a3019e57fb">
            <div class="card-context">
                <h2 class="card-game-name">Warz</h2>
                <h3 class="card-game-provider">Warz</h3>
                <div class="card-price-conetxt">
                    <h3 class="price-discount">200 บาท</h3>
                    <h2 class="price-static">135 บาท</h2>
                </div>
            </div>
            <div class="plat-card shadowBox">
            </div>
        </div>

        <div class="card">
            <img src="https://cdn1.epicgames.com/salesEvent/salesEvent/EGS_Battlefield2042_DICE_S2_1200x1600-331f59b6877d2bf2194943fcf7a68048">
            <div class="card-context">
                <h2 class="card-game-name">BattleFeild</h2>
                <h3 class="card-game-provider">BattleFeild</h3>
                <div class="card-price-conetxt">
                    <h3 class="price-discount">350 บาท</h3>
                    <h2 class="price-static">120 บาท</h2>
                </div>
            </div>
            <div class="plat-card shadowBox">
            </div>
        </div>

        <div class="card">
            <img src="https://dyn.media.titanbooks.com/VHrEMCutcgg3MB_tFb0-1xoPZXw=/fit-in/600x600/https://media.titanbooks.com/catalog/products/7411/BATTLEFIELD_LTD-Ed-Book-cover.jpg">
            <div class="card-context">
                <h2 class="card-game-name">BattleFeild</h2>
                <h3 class="card-game-provider">BattleFeild</h3>
                <div class="card-price-conetxt">
                    <h3 class="price-discount">350 บาท</h3>
                    <h2 class="price-static">120 บาท</h2>
                </div>
            </div>
            <div class="plat-card shadowBox">
            </div>
        </div>

        <div class="card">
            <img src="https://play-lh.googleusercontent.com/JRd05pyBH41qjgsJuWduRJpDeZG0Hnb0yjf2nWqO7VaGKL10-G5UIygxED-WNOc3pg">
            <div class="card-context">
                <h2 class="card-game-name">PUBG</h2>
                <h3 class="card-game-provider">BATTLEGROUNDS</h3>
                <div class="card-price-conetxt">
                    <h3 class="price-discount">1234 บาท</h3>
                    <h2 class="price-static">350 บาท</h2>
                </div>
            </div>
            <div class="plat-card shadowBox">
            </div>
        </div>

            </div>
    </div>





 
 

    </div>