@section css {
<link rel="Stylesheet" href="@Href("~/css/Euro.css")">
}

<div id="home">

    @{
        ViewData["Title"] = "Home Page";
    }

    <center>
        <div>

            <img class="banner-img shadowBox"
                src="https://notebookspec.com/web/wp-content/uploads/2021/05/callduty2021_3457653b.jpg"></img>

        </div>
    </center>


    <div class="layout-finder">
        <div class="layout-finder-left">
            <h3>เกมลดราคา</h3>
        </div>
        <div class="layout-finder-right">
            <a asp-area="" style=" text-decoration: none;color:white;" asp-controller="Store" asp-action="Index">
                <h3>เรียกดู</h3>
            </a>
        </div>
    </div>





    <div class="card-view">
        <div class="wrapper-card">
            <div class="card">
                <img src="/img/img_main/COD.jpg">
                <div class="card-context">
                    <h2 class="card-game-name">Call of Duty</h2>
                    <h3 class="card-game-provider">Sledgehammer Games</h3>
                    <div class="card-price-conetxt">
                        <h3 class="price-discount">2150 บาท</h3>
                        <h2 class="price-static">1250 บาท</h2>
                    </div>
                </div>
                <div class="plat-card shadowBox">
                </div>
            </div>

            <div class="card">
                <img src="/img/img_main/Minecraft.jpg">
                <div class="card-context">
                    <h2 class="card-game-name">Minecraft</h2>
                    <h3 class="card-game-provider">Mojang</h3>
                    <div class="card-price-conetxt">
                        <h3 class="price-discount">859 บาท</h3>
                        <h2 class="price-static">750 บาท</h2>
                    </div>
                </div>
                <div class="plat-card shadowBox">
                </div>
            </div>

            <div class="card">
                <img src="/img/img_main/WWZ.jpg">
                <div class="card-context">
                    <h2 class="card-game-name">World War Z</h2>
                    <h3 class="card-game-provider">Saber Interactive</h3>
                    <div class="card-price-conetxt">
                        <h3 class="price-discount">890 บาท</h3>
                        <h2 class="price-static">639 บาท</h2>
                    </div>
                </div>
                <div class="plat-card shadowBox">
                </div>
            </div>

            <div class="card">
                <img src="/img/img_main/BF.jpg">
                <div class="card-context">
                    <h2 class="card-game-name">Battlefield 2042</h2>
                    <h3 class="card-game-provider">Electronic Arts</h3>
                    <div class="card-price-conetxt">
                        <h3 class="price-discount">3999 บาท</h3>
                        <h2 class="price-static">2250 บาท</h2>
                    </div>
                </div>
                <div class="plat-card shadowBox">
                </div>
            </div>

            <div class="card">
                <img src="/img/img_main/PUBG.jpg">
                <div class="card-context">
                    <h2 class="card-game-name">PUBG</h2>
                    <h3 class="card-game-provider">PUBG Corporation</h3>
                    <div class="card-price-conetxt">
                        <h3 class="price-discount">1229 บาท</h3>
                        <h2 class="price-static">399 บาท</h2>
                    </div>
                </div>
                <div class="plat-card shadowBox">
                </div>
            </div>

        </div>
    </div>








</div>