@section css {
<link rel="Stylesheet" href="@Href("~/css/Euro.css")">
}

<div id="home">

    @{
        ViewData["Title"] = "Home Page";
    }

    <center>
        <div>

            <img class="banner-img shadowBox"
                src="https://notebookspec.com/web/wp-content/uploads/2021/05/callduty2021_3457653b.jpg"></img>

        </div>
    </center>


    <div class="layout-finder">
        <div class="layout-finder-left">
            <h3>เกมลดราคา</h3>
        </div>
        <div class="layout-finder-right">
            <a asp-area="" style=" text-decoration: none;color:white;" asp-controller="Store" asp-action="Index">
                <h3>เรียกดู</h3>
            </a>
        </div>
    </div>





    <div class="card-view">
        <div class="wrapper-card">

        <span id="blankItem">
            </span>

                <script>
function loadDoc() {
    var xhttp = new XMLHttpRequest();
    xhttp.onreadystatechange = function() {
        if (this.readyState == 4 && this.status == 200) {
 
        var data = JSON.parse(this.responseText)
console.log(data)
                     //Test loop value for generate div
            var x = "", i;
            
            for (i = 0; i <data.length; i++) { 
                x += `
            <div class="card">
                <a href="/Store/Game?game=`+data[i].name+`">
                <img src="/img/img_main/`+data[i].main_Image+`">
                 </a>
                <div class="card-context">
                    <h2 class="card-game-name">`+data[i].name+`</h2>
                    <h3 class="card-game-provider">`+data[i].developer+`</h3>
                    <div class="card-price-conetxt">
                        <h3 class="price-discount">`+(data[i].price+350)+`</h3>
                        <h2 class="price-static">`+data[i].price+`</h2>
                    </div>
                </div>
                <div class="plat-card shadowBox">
                </div>
            </div>
            `;
            }
            document.getElementById("blankItem").innerHTML = x;
        
          
       }
    };
    xhttp.open("GET", "https://localhost:5001/RandomGame", true);
    xhttp.send();
}

loadDoc();
 
</script>
 





        </div>





    </div>








</div>