@{
  ViewData["Title"] = "Success";
}

@section css {
  <link rel="Stylesheet" href="@Href("~/css/Not.css")">
}

<div id="success">
  <div class="success-box">
    <span class="icon">
      <i class="fas fa-check-circle" ></i>
    </span>
    <p class="text">สั่งซื้อสำเร็จ</p>
    <p class="subtext">CD-Key ของเกมจะถูกส่งเข้าอีเมล์ของท่าน</p>
    <p class="">กรุณาตรวจสอบในกล่องจดหมายหรืออีเมลขยะ</p>
  </div><br>

  <button class="accept-btn" onclick="location.href='@Url.Action("Index", "Home")'">
    เสร็จสิ้น
  </button>
</div>