#login {
  color: white;
  margin-left: auto;
  margin-right: auto;
  max-width: 1280px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#login .login-form {
  width: 30%;
  padding: 0.5rem 2rem 2rem 2rem;
  border-radius: 8px;
  background-color: #202020;
  margin: auto;
  flex-direction: column;
  box-sizing: border-box;
  border-radius: 8px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  clear: both;
}

#login .login-btn {
  width: 130px;
  background-color: #269c59;
  padding-top: 0.3rem;
  padding-bottom: 0.3rem;
  cursor: pointer;
  font-size: 1rem;
  font-weight: bold;
  border: 0;
  border-radius: 10px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  float: right;
  margin-top: 15px;
  margin-right: 3px;
}

#login .login-btn:hover {
  background-color: #51c483;
  cursor: pointer;
}
#login .login-btn:hover {
  background-color: #269c59;
}

#login .input-box {
  padding: 0.5rem;
  padding-left: 1rem;
  width: 100%;
  box-sizing: border-box;
  border-radius: 20px;
  border: 0;
  font-size: 1rem;
  color: #212121;
  color: gray;
  font-weight: normal;
}

#login .col1-25 {
  float: left;
  width: 25%;
  margin-top: 10px;
}

#login .col1-75 {
  float: left;
  width: 75%;
  margin-top: 10px;
}

#login .col2-25 {
  float: left;
  width: 25%;
  margin-top: 20px;
}

#login .col2-75 {
  float: left;
  width: 75%;
  margin-top: 20px;
}

@media (max-width: 800px) {
  #login h2 {
    font-size: 1.2rem;
  }
  #login .login-form {
    width: 80%;
    padding: 0.5rem 2rem 1rem 2rem;
    border-radius: 8px;
    background-color: #202020;
    flex-direction: column;
    box-sizing: border-box;
    border-radius: 8px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    clear: both;
  }
  
  #login .login-btn {
    width: 80px;
    background-color: #269c59;
    padding-top: 0.2rem;
    padding-bottom: 0.2rem;
    cursor: pointer;
    font-size: 0.9rem;
    font-weight: bold;
    border: 0;
    border-radius: 10px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    float: right;
    margin-top: 15px;
    margin-right: -5px;
  }
  
  #login .login-btn:hover {
    background-color: #51c483;
    cursor: pointer;
  }
  #login .login-btn:hover {
    background-color: #269c59;
  }
  
  #login .input-box {
    padding: 0.5rem;
    padding-left: 1rem;
    width: 110%;
    box-sizing: border-box;
    border-radius: 20px;
    border: 0;
    font-size: 0.9rem;
    color: #212121;
    color: gray;
    font-weight: normal;
  }
  
  #login .col1-25 {
    font-size: 0.9rem;
    float: left;
    width: 30%;
    margin-left: -5px;
    margin-top: 20px;
  }
  
  #login .col1-75 {
    font-size: 0.7rem;
    float: left;
    width: 70%;
    margin-top: 10px;
  }
  
  #login .col2-25 {
    font-size: 0.9rem;
    float: left;
    width: 30%;
    margin-top: 30px;
    margin-left: -5px;
  }
  
  #login .col2-75 {
    font-size: 0.7rem;
    float: left;
    width: 70%;
    margin-top: 20px;
  }
}

/*-------------------------------------------------------------------------*/

#game {
    color: white;
    margin-left: auto;
    margin-right: auto;
    max-width: 1280px;
}

#game .game-teaser {
  margin-bottom: 1rem;
}

#game .video-border {
  border-radius: 8px;
  height: 30rem;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

#game .container {
  display: flex;
  justify-content: space-between;
}

#game .cover-box {
  width: 30%;
  width: 15rem;
  height: 30rem;
  border-radius: 8px;
  background-color: #202020;
  margin-bottom: 1rem;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

#game .container p {
  font-size: 1rem;
}

/* กล่องรูปภาพเกม */
#game .cover {
  width: 15rem;
  height: 15rem;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.5));
}

/* รูปภาพเกม */
#game .cover img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

/* ปุ่มเพิ่มใส่ตระกร้า */
#game .cart-btn {
  background-color: #269c59;
  padding-top: 0.3rem;
  padding-bottom: 0.3rem;
  cursor: pointer;
  font-size: 1rem;
  font-weight: bold;
  border: 0;
  border-radius: 10px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  margin-right: 10px;
  float: right;
}

#game .cart-btn:hover {
  background-color: #51c483;
  cursor: pointer;
}
#game .cart-btn:hover {
  background-color: #269c59;
}

#game .game-price, .game-dev, .game-remain{
  display: flex;
  justify-content: space-between;
}

#game .left-content {
  margin: 0;
  border: 1px solid red solid;
  width: 50%;
  text-align: left;
  margin-left: 10px;
  display: inline;
}

#game .right-content {
  margin: 0;
  border: 1px solid gold solid;
  width: 50%;
  text-align: right;
  margin-right: 10px;
  display: inline;
}

/* ขนาดรูปภาพประกอบ */
#game .game-img {
  width: 310px;
  height: 310px;
  border-radius: 8px;
  display: flex;
  justify-content: space-between;
  gap: 35px;
  width: 70%;
}

/* ขนาดรูปภาพ */
#game .frist-img, .second-img, .third-img {
  width: 310px;
  height: 310px;
  border-radius: 8px;
  display: inline;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

/* คำอธิบายเกม */
#game .game-description {
  text-indent: 50px;
  width: 80%;
}

@media (max-width: 800px) {
  #game .game-name {font-size: 1rem;}
  #game .container p { font-size: 0.7rem; }
  #game .cover { width: 50px; height: 50px; }

  #game .game-teaser {
    margin-bottom: 1rem;
  }
  
  #game .video-border {
    width: 230px;
    height: 230px;
    border-radius: 8px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  }
  
  #game .container {
    display: flex;
    justify-content: space-between;
    gap: 10px;
  }
  
  #game .cover-box {
    height: 230px;
    width: 40%;
    border-radius: 8px;
    background-color: #202020;
    margin-bottom: 1rem;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  }
  
  /* กล่องรูปภาพเกม */
  #game .cover {
    width: 120px;
    height: 120px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.5));
    margin-left: auto;
    margin-right: auto;
}
  
  /* รูปภาพเกม */
  #game .cover img {
    object-fit: cover;
    width: 100%;

  }
  
  /* ปุ่มเพิ่มใส่ตระกร้า */
  #game .cart-btn {
    width: 100px;
    background-color: #269c59;
    padding-top: 0.1rem;
    padding-bottom: 0.1rem;
    cursor: pointer;
    font-size: 0.7rem;
    font-weight: bold;
    border: 0;
    border-radius: 10px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    margin-top: -18px;

  }
  
  #game .cart-btn:hover {
    background-color: #51c483;
    cursor: pointer;
  }
  #game .cart-btn:hover {
    background-color: #269c59;
  }
  
  #game .game-price, .game-dev, .game-remain{
    display: flex;
    justify-content: space-between;
    margin-top: -18px;
  }
  
  #game .left-content {
    margin: 0;
    width: 50%;
    text-align: left;
    margin-left: 8px;
    display: inline;
  }
  
  #game .right-content {
    margin: 0;
    width: 50%;
    text-align: right;
    margin-right: 8px;
    display: inline;
  }
  
  /* ขนาดรูปภาพประกอบ */
  #game .game-img {
    width: 110px;
    height: 110px;
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
    gap: 10px;
    width: 70%;
  }
  
  /* ขนาดรูปภาพ */
  #game .frist-img, .second-img, .third-img {
    width: 110px;
    height: 110px;
    border-radius: 8px;
    display: inline;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  }
  
  /* คำอธิบายเกม */
  #game .game-description {
    text-indent: 50px;
    width: 100%;
    margin-top: -20px;
  }
}

@media (max-width: 575px) {
.cover-box{
  padding-bottom: 15px;
}


}