#edit h2 {
  color: gold;
}

/*//////////////////////////////////////////////////////////////////////*/
#add_title {
  color: rgb(255, 255, 255);
  text-align: center;
}

* {
  box-sizing: border-box;
}

label {
  color: rgb(255, 255, 255);
  padding: 5px 12px 12px 0;
  display: inline-block;
}

.left-box, .right-box {
  flex: 1;
  padding: 0.5rem 2rem 2rem 2rem;
  border-radius: 8px;
  background-color: #202020;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.float-box {
  display: flex;
  width: 100%;
}

.left-box {
  margin-right: 15px;
}

.right-box {
  height:75%;
}

.col-25 {
  float: left;
  width: 25%;
  margin-top: 6px;
}

.col-75 {
  float: left;
  width: 75%;
  margin-top: 6px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

textarea {
   resize: none;
}

.input-box {
  padding: .5rem;
  padding-left: 1rem;
  width: 100%;
  box-sizing: border-box;
  border-radius: 20px;
  border: 0;
  font-size: 1rem;
  color: #212121;
  color: gray;
  font-weight: normal;
}

@media (max-width: 1000px) {
  .float-box { flex-direction: column; }
  .left-box, .right-box {
    width: 100%;
    box-sizing: border-box;
  }
  .right-box {
    margin-top: 15px;
  }
}